<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{person.name}} - Consultant Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="detail-header">
        <div class="container">
            <a href="/#team" class="back-link">&larr; Back to all consultants</a>
            <div class="profile-header">
                <img src="{{person.profilePicture}}" alt="Profile picture of {{person.name}}" class="profile-pic-large">
                <div class="profile-info">
                    <h1>{{person.name}}</h1>
                    <p>{{person.title}}</p>
                    <a href="{{person.github}}" target="_blank" class="github-link">GitHub Profile</a> &emsp;
                    <a href="{{person.linkedin}}" target="_blank" class="github-link">LinkedIn Profile</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        
        
        <section class="resume-section">
            <details>
                <summary class="resume-summary">
                    Expand {{person.name}}'s Resume
                </summary>
                <div class="pdf-container">
                    <iframe src="{{person.resume}}#zoom=page-fit"></iframe>
                </div>
            </details>
        </section>
        



        <section class="long-intro">
            <h2>About {{person.name}}</h2>
            <p>{{person.longIntro}}</p>
        </section>

        <section class="projects-section">
            <h2>Featured Projects</h2>
            <div class="projects-grid">
                {{projects}}
            </div>
        </section>

        <section class="contact-section">
            <h2>Contact {{person.name}}</h2>
            <p>To discuss a potential project or to learn more, please get in touch.</p>
            <form action="mailto:{{person.email}}" method="post" enctype="text/plain">
                <a href="mailto:{{person.email}}" class="btn btn-contact">Send Email</a>
            </form>
        </section>




    </main>

    <!-- <footer class="main-footer">
        <!-- <p>&copy; 2025 Consulting Association. All rights reserved.</p> -->
    </footer> -->
</body>
</html>